@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-link {
    @apply text-xl text-greyish-1 font-medium capitalize hover:text-greenish-1 cursor-pointer;
  }

  .menu-link {
    @apply text-lg text-greyish-1 font-medium hover:bg-green-500 hover:text-white px-8 rounded-r-2xl cursor-pointer;
  }

  .bookmark-btn {
    @apply text-greenish-1 bg-green-200 rounded-full p-3  font-bold text-2xl md:text-3xl lg:text-4xl absolute top-0 right-1;
  }
}

.grid-two-cols {
  display: grid;
  grid-template-columns: 60fr 40fr;
}

.bg-recipe {
  background-image: linear-gradient(
      to left,
      rgba(108, 236, 155, 0.112),
      rgba(74, 222, 128, 0.164)
    ),
    url("/lasagne.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
